<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
      <div class="banner"></div> 
                <nav> 
                   
                    <a th:href="@{/cadastrofilmes}">Cadastro de filmes</a> 
                    <a th:href="@{/listagem}">Visualizar filmes</a> 
                  <a th:href="@{/telainicio}">Tela inicial</a> 
                </nav> 
</html>
